#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;  
}

.decks {
  display: grid;
  grid-gap: 10px;
  width: 600px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  color: black;
}

.decks li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 120px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.decks li:hover {
  background-color: #eee;
  cursor: pointer;
}

.decks li button {
  position: absolute;
  font-size: 12px;
  top: 5px;
  right: 5px;
}